::-webkit-scrollbar {
  width: 30px;
  padding-right: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #010f23;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: #4bc2bc;
  border: 10px solid #010f23;
}

.bubble-purple {
  height: 500px;
  width: 800px;
  background-color: rgba(116, 0, 217, 0.4592);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(116, 0, 217, 0.4592);
  position: fixed;
  filter: blur(7rem);
  animation: movePurpleBubble 40s 1.5s ease-in-out infinite;
  z-index: -1;
  transform: translate(200px, 100px) scale(1);
}

.bubble-yellow {
  background-color: rgba(193, 143, 4, 0.4592);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(193, 143, 4, 0.4592);
  position: fixed;
  filter: blur(9rem);
  height: 800px;
  width: 500px;
  animation: moveYellowBubble 55s 1.5s ease-in-out infinite;
  transform: translate(200px, 100px) scale(1);
  z-index: -1;
}

.bubble-peach {
  background-color: #d7461a;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px #d7461a;
  position: fixed;
  filter: blur(9rem);
  height: 700px;
  width: 200px;
  animation: movePeachBubble 30s 1.5s ease-in-out infinite;
  z-index: -1;
  transform: translate(600px, -150px) scale(1.2);
}

@keyframes movePeachBubble {
  0%,
  100% {
    transform: translate(600px, -150px) scale(1.2);
  }
  10% {
    transform: translate(400px, 0px) scale(1.2);
  }
  20% {
    transform: translate(100px, 10px) scale(1.2);
  }
  30% {
    transform: translate(-50px, -150px) scale(1.2);
  }
  40% {
    transform: translate(-300px, 0px) scale(1.2);
  }
  50% {
    width: 350px;
    transform: translate(0px, 150px) rotate(120deg);
  }
  60% {
    transform: translate(300px, 250px) scale(1.2);
  }
  70% {
    transform: translate(600px, 400px) scale(1.2);
  }
  80% {
    transform: translate(900px, 200px) scale(1.2);
  }
  90% {
    width: 200px;
    transform: translate(500px, 25px) rotate(-120deg);
  }
}

@keyframes movePurpleBubble {
  0%,
  100% {
    transform: translate(200px, 100px) scale(1);
  }
  10% {
    transform: translate(0px, 300px) rotate(30deg);
  }
  20% {
    transform: translate(-200px, 100px) scale(1);
  }
  30% {
    transform: translate(-400px, -100px) scale(1);
  }
  40% {
    transform: translate(-200px, 100px);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  60% {
    transform: translate(200px, 100px) scale(1);
  }
  70% {
    transform: translate(400px, -100px) rotate(-30deg);
  }
  80% {
    transform: translate(600px, 100px) scale(1);
  }
  90% {
    transform: translate(400px, 300px) scale(1);
  }
}

@keyframes moveYellowBubble {
  0%,
  100% {
    transform: translate(200px, 100px) scale(1);
  }
  10% {
    transform: translate(0px, 300px) scale(1);
  }
  20% {
    transform: translate(-200px, 100px) scale(1);
  }
  30% {
    transform: translate(-400px, -100px) scale(1);
  }
  40% {
    transform: translate(-200px, 100px) scale(1);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  60% {
    transform: translate(200px, 100px) scale(1);
  }
  70% {
    transform: translate(400px, -100px) scale(1);
  }
  80% {
    transform: translate(600px, 100px) scale(1);
  }
  90% {
    transform: translate(400px, 300px) scale(1);
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  line-height: 0.45;
  padding: 0;
  margin: 0;
  transform: translateX(0.3rem) translateY(0.5rem);
}

.scroll-to-top {
  position: fixed;
  bottom: 80px; /* Adjust the distance from the bottom as needed */
  right: 5%; /* Adjust the distance from the right as needed */
  background-color: transparent;
  color: #4bc2bc;
  border: 2px solid #4bc2bc;
  border-radius: 8px;
  padding: 0.75rem;
  filter: drop-shadow(0 5px 5px #010f23);
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: 'Sometype Mono', monospace;
  z-index: 1;
  backdrop-filter: blur(0.45rem);
}

.scroll-to-top span {
  padding: 0;
  margin: 0;
  position: relative;
  left: 0.5px;
}

.scroll-to-top:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  transform: scale(0.95);
  color: #010f23;
}

.scroll-to-top:hover span {
  color: #010f23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100svh;
  background-color: #010f23;
  max-width: 1400px;
  margin-inline: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.landing-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

::selection {
  background: #4bc2bc;
}

a {
  text-decoration: none;
}

.highlighted {
  color: #4bc2bc;
  text-shadow: 0 0 2px #4bc2bc;
  font-family: 'Sometype Mono', monospace;
  word-spacing: -0.3rem;
}

.bar {
  height: 0.2rem;
  margin: 1rem;
  color: black;
  background-color: #4bc2bc;
  transition: 0.4s;
  width: 3rem;
  backdrop-filter: blur(0.1rem);
}

.burger-menu {
  display: none;
}

.burger-menu.open .bar1 {
  transform: rotate(-45deg) translate(-15px, 12px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  transform: rotate(45deg) translate(-15px, -12px);
}

.navbar.visible {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
  z-index: 200;
  text-align: center;
}

.navbar {
  background: linear-gradient(to bottom, #010f23, transparent);
  margin-bottom: 5rem;
  color: #4bc2bc;
  font-family: 'Sometype Mono', monospace;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  z-index: 3;
  width: 100%;
  pointer-events: none;
  position: fixed;
  padding-inline: 1rem;
}

.inner-nav.visible {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
  z-index: 200;
  text-align: center;
}

.inner-nav {
  margin: auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.left-navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.left-navbar .navbar-item {
  padding: 1rem;
  color: #4bc2bc;
  transition: all 0.3s ease;
  cursor: pointer;
}

.left-navbar .navbar-item:hover {
  text-shadow: 0 0 10px #4bc2bc;
}

.right-navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navbar-item {
  opacity: 0;
  padding: 1rem;
  color: #cdd7f7;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 3;
  animation: SlideIn 1.2s cubic-bezier(0.453, 0.74, 0.657, 0.99) forwards;
  animation-delay: 2s;
  pointer-events: all;
}

.navbar-item:hover {
  color: #4bc2bc;
  text-shadow: 0 0 10px #4bc2bc;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.pdf-button {
  opacity: 0;
  padding: 1rem;
  border: solid 2px #4bc2bc;
  border-radius: 8px;
  color: #4bc2bc;
  transition: all 0.3s ease;
  animation: SlideIn 1.2s cubic-bezier(0.453, 0.74, 0.657, 0.99) forwards;
  pointer-events: all;
}

.pdf-button:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
}

@media screen and (max-width: 1000px) {
  .burger-menu {
    display: block;
    position: fixed;
    right: 0;
    background-color: transparent;
    margin-top: 1rem;
    z-index: 9999;
  }

  .navbar {
    position: fixed;
    flex-direction: column;
    pointer-events: all;
    display: none;
  }

  .navbar.visible {
    display: flex;
    background-color: #010f23;
    justify-content: center;
    position: fixed;
    height: 100vh;
    opacity: 0;
    animation: appear 0.4s ease-in forwards;
  }

  .navbar-item {
    animation: fadeIn 0.05s ease-in forwards;
  }

  .inner-nav {
    position: fixed;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .right-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .left-navbar {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0.4rem;
  }

  .left-navbar ul {
    justify-content: center;
  }

  .pdf-button {
    animation: fadeIn 0.05s ease-in forwards;
  }

  .right-navbar ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  @keyframes movePeachBubble {
    0%,
    100% {
      transform: translate(600px, -150px) scale(0.65);
    }
    10% {
      transform: translate(400px, 0px) scale(0.65);
    }
    20% {
      transform: translate(100px, 10px) scale(0.65);
    }
    30% {
      transform: translate(-50px, -150px) scale(0.65);
    }
    40% {
      transform: translate(-300px, 0px) scale(0.65);
    }
    50% {
      width: 140px; /* Adjusted width */
      transform: translate(0px, 60px) rotate(120deg) scale(0.65);
    }
    60% {
      transform: translate(120px, 200px) scale(0.65);
    }
    70% {
      transform: translate(240px, 320px) scale(0.65);
    }
    80% {
      transform: translate(360px, 160px) scale(0.65);
    }
    90% {
      width: 80px; /* Adjusted width */
      transform: translate(200px, 20px) rotate(-120deg) scale(0.65);
    }
  }

  @keyframes movePurpleBubble {
    0%,
    100% {
      transform: translate(160px, 80px) scale(0.45);
    }
    10% {
      transform: translate(0px, 240px) rotate(30deg) scale(0.45);
    }
    20% {
      transform: translate(-160px, 80px) scale(0.45);
    }
    30% {
      transform: translate(-320px, -80px) scale(0.45);
    }
    40% {
      transform: translate(-160px, 80px) scale(0.45);
    }
    50% {
      transform: translate(0px, 240px) scale(0.45);
    }
    60% {
      transform: translate(160px, 80px) scale(0.45);
    }
    70% {
      transform: translate(320px, -80px) rotate(-30deg) scale(0.45);
    }
    80% {
      transform: translate(480px, 80px) scale(0.45);
    }
    90% {
      transform: translate(320px, 240px) scale(0.45);
    }
  }

  @keyframes moveYellowBubble {
    0%,
    100% {
      transform: translate(160px, 80px) scale(0.45);
    }
    10% {
      transform: translate(0px, 240px) scale(0.45);
    }
    20% {
      transform: translate(-160px, 80px) scale(0.45);
    }
    30% {
      transform: translate(-320px, -80px) scale(0.45);
    }
    40% {
      transform: translate(-160px, 80px) scale(0.45);
    }
    50% {
      transform: translate(0px, 240px) scale(0.45);
    }
    60% {
      transform: translate(160px, 80px) scale(0.45);
    }
    70% {
      transform: translate(320px, -80px) scale(0.45);
    }
    80% {
      transform: translate(480px, 80px) scale(0.45);
    }
    90% {
      transform: translate(320px, 240px) scale(0.45);
    }
  }
}
