::-webkit-scrollbar {
  width: 30px;
  padding-right: 3px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #010f23;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: #4bc2bc;
  border: 10px solid #010f23;
}

.cursor-bubble {
  height: 30px;
  width: 30px;
  transform: translate(-15px, -15px);
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.398);
  background-color: rgba(255, 255, 255, 0.055);
  box-shadow: 0 0 5px white, inset 0 0 5px white;
  filter: blur(1px);
  position: absolute;
  z-index: 5000;
  pointer-events: none;
  backdrop-filter: blur(1px);
}

.morph {
  width: 60px;
}

@keyframes morphBubble {
  0% {
    width: 30px;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #010f23;
  max-width: 1400px;
  margin-inline: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.landing-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

::selection {
  background: #4bc2bc;
}

a {
  text-decoration: none;
}

.highlighted {
  color: #4bc2bc;
  font-weight: 800;
  text-shadow: 0 0 2px #4bc2bc;
}

.navbar {
  position: fixed;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5rem;
  color: #4bc2bc;
  font-family: 'Sometype Mono', monospace;
  padding-top: 1rem;
  z-index: 3;
  width: 100%;
  max-width: 1400px;
  backdrop-filter: blur(0.1rem);
}

.left-navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.left-navbar .navbar-item {
  padding: 1rem;
  color: #4bc2bc;
  transition: all 0.3s ease;
  cursor: pointer;
}

.left-navbar .navbar-item:hover {
  text-shadow: 0 0 10px #4bc2bc;
}

.right-navbar {
  padding-right: 1rem;
}

.right-navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.navbar-item {
  opacity: 0;
  padding: 1rem;
  color: #cdd7f7;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 3;
  animation: SlideIn 1.2s cubic-bezier(.23,.74,.47,.99) forwards;
  animation-delay: 2s;
}

.navbar-item:hover {
  color: #4bc2bc;
  text-shadow: 0 0 10px #4bc2bc;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.pdf-button {
  opacity: 0;
  padding: 1rem;
  border: solid 2px #4bc2bc;
  border-radius: 8px;
  color: #4bc2bc;
  transition: all 0.3s ease;
  animation: SlideIn 1.2s cubic-bezier(.23,.74,.47,.99) forwards;
}

.pdf-button:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
}
