.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
  gap: 5rem;
  align-items: flex-start;
  margin-left: 10rem;
  height: 1200px;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes SlideOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(800px);
  }
}

.bubble-purple {
  height: 500px;
  width: 800px;
  background-color: rgba(116, 0, 217, 0.692);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(116, 0, 217, 0.692);
  position: absolute;
  filter: blur(7rem);
  animation: movePurpleBubble 40s ease-in-out infinite;
  z-index: -1;
}

.bubble-yellow {
  background-color: rgba(193, 143, 4, 0.692);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(193, 143, 4, 0.692);
  position: absolute;
  filter: blur(9rem);
  height: 800px;
  width: 500px;
  animation: moveYellowBubble 55s ease-in-out infinite;
  z-index: -1;
}

.bubble-peach {
  background-color: #d7461a;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 100px #d7461a;
  position: absolute;
  filter: blur(9rem);
  height: 700px;
  width: 200px;
  animation: movePeachBubble 30s ease-in-out infinite;
  z-index: -1;
}

@keyframes movePeachBubble {
  0%, 100% {
    transform: translate(600px, -150px) scale(1.2);
  }
  10% {
    transform: translate(400px, 0px) scale(1.2);
  }
  20% {
    transform: translate(100px, 10px) scale(1.2);
  }
  30% {
    transform: translate(-50px, -150px) scale(1.2);
  }
  40% {
    transform: translate(-300px, 0px) scale(1.2);
  }
  50% {
    width: 350px;
    transform: translate(0px, 150px) rotate(120deg);
  }
  60% {
    transform: translate(300px, 250px) scale(1.2);
  }
  70% {
    transform: translate(600px, 400px) scale(1.2);
  }
  80% {
    transform: translate(900px, 200px) scale(1.2);
  }
  90% {
    width: 200px;
    transform: translate(500px, 25px) rotate(-120deg) ;
  }
}

@keyframes movePurpleBubble {
  0%, 100% {
    transform: translate(200px, 100px) scale(1);
  }
  10% {
    transform: translate(0px, 300px) rotate(30deg);
  }
  20% {
    transform: translate(-200px, 100px) scale(1);
  }
  30% {
    transform: translate(-400px, -100px) scale(1);
  }
  40% {
    transform: translate(-200px, 100px);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  60% {
    transform: translate(200px, 100px) scale(1);
  }
  70% {
    transform: translate(400px, -100px) rotate(-30deg);
  }
  80% {
    transform: translate(600px, 100px) scale(1);
  }
  90% {
    transform: translate(400px, 300px) scale(1);
  }
}

@keyframes moveYellowBubble {
  0%, 100% {
    transform: translate(200px, 100px) scale(1);
  }
  10% {
    transform: translate(0px, 300px) scale(1);
  }
  20% {
    transform: translate(-200px, 100px) scale(1);
  }
  30% {
    transform: translate(-400px, -100px) scale(1);
  }
  40% {
    transform: translate(-200px, 100px) scale(1);
  }
  50% {
    transform: translate(0px, 300px) scale(1);
  }
  60% {
    transform: translate(200px, 100px) scale(1);
  }
  70% {
    transform: translate(400px, -100px) scale(1);
  }
  80% {
    transform: translate(600px, 100px) scale(1);
  }
  90% {
    transform: translate(400px, 300px) scale(1);
  }
}

.personal-wrapper {
  color: #cdd7f7;
  width: 70%;
  max-width: 900px;
  font-family: 'Cabin', sans-serif;
  font-size: 800;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  filter: drop-shadow(0 10px 5px #010f23);
  animation: SlideIn 1.2s cubic-bezier(.23,.74,.47,.99) forwards;
}

.introduction {
  color: #4bc2bc;
  font-family: 'Sometype Mono', monospace;
}

.name {
  color: #cdd7f7;
  font-size: 5rem;
  font-weight: bolder;
}

.job {
  font-size: 5rem;
  font-weight: bolder;
  color: #8892b0;
  padding-bottom: 1.8rem;
  animation:
    flare 0.6s 2.2s ease-in forwards;
}

@keyframes flare {
  0% {
    text-shadow: 0;
  }
  50% {
    color: #bdfffc;
    text-shadow: 0 0 30px #4bc2bc;
  }
  100% {
    color: #8892b0;
    text-shadow: 0 0 50px transparent;
  }
}

.story {
  font-family: 'Nunito Sans', sans-serif;
  text-align: justify;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  height: 100px;
  animation: SlideIn 1.2s cubic-bezier(.23,.74,.47,.99) forwards;
}

.contact-header {
  padding: 1rem;
  border: solid 2px #4bc2bc;
  border-radius: 8px;
  color: #4bc2bc;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: 'Sometype Mono', monospace;
  align-self: flex-start;
  background-color: transparent;
  z-index: 1;
  filter: drop-shadow(0 5px 5px #010f23);
}

.contact-header:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
}
