.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: visible;
  margin-top: 7rem;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(-800px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes SlideOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(800px);
  }
}

.personal-wrapper {
  color: #cdd7f7;
  font-size: 800;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  gap: 1rem;
  animation: SlideIn 1.2s cubic-bezier(0.23, 0.74, 0.47, 0.99) forwards;
  /* min-width: 1100px; */
  height: 100svh;
}

.introduction {
  color: #4bc2bc;
  font-family: 'Sometype Mono', monospace;
  filter: drop-shadow(0 2px 5px #010f23);
}

.name {
  color: #cdd7f7;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 1;
  filter: drop-shadow(0 10px 5px #010f23);
}

.job {
  font-size: 5rem;
  font-weight: bolder;
  color: #8e92a0;
  padding-bottom: 1.8rem;
  line-height: 1;
  animation: flare 0.6s 1.4s ease-in forwards;
  filter: drop-shadow(0 10px 5px #010f23);
}

@keyframes flare {
  0% {
    text-shadow: 0;
  }
  50% {
    color: #bdfffc;
    text-shadow: 0 0 30px #4bc2bc;
  }
  100% {
    color: #c5c9d8;
    text-shadow: 0 0 50px transparent;
  }
}

.story {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  max-width: 600px;
  color: #8e92a0;
  filter: drop-shadow(0 5px 5px #010f23);
}

.more-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  filter: drop-shadow(0 2px 5px #010f23);
}

.scroll-to-about-me {
  position: relative;
  background-color: transparent;
  color: #4bc2bc;
  border: 2px solid #4bc2bc;
  border-radius: 8px;
  padding: 1rem;
  filter: drop-shadow(0 3px 3px #010f23);
  transition: all 0.3s ease;
  cursor: pointer;
  align-self: center;
  width: fit-content;
  font-family: 'Sometype Mono', monospace;
  z-index: 1;
}

.scroll-to-about-me:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
  transform: scale(0.95);
}

.about-me-container {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  width: 66%;
  gap: 4rem;
  height: 100svh;
  margin-bottom: 3rem;
  align-items: center;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  font-family: 'Nunito Sans', sans-serif;
  filter: drop-shadow(0 5px 5px #010f23);
  gap: 6rem;
}

.about-me-headline {
  display: flex;
  gap: 1rem;
}

.material-symbols-sharp {
  color: #4bc2bc;
  position: relative;
  top: 5px;
  right: 5px;
}

.about-me-h-line {
  align-self: center;
  width: 50%;
  height: 0;
  border-bottom: solid 1px gray;
}

.about-me-left {
  color: #8e92a0;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  max-height: 600px;
  gap: 1rem;
  padding: 1rem;
  filter: drop-shadow(0 5px 5px #010f23);
  box-shadow: 0 0 20px 0 #010f2315;
  border-radius: 10px;
  backdrop-filter: blur(5rem);
  background-color: rgba(255, 255, 255, 0.075);
}

.about-me-left-inner {
  margin-block: 0.5rem;
  gap: 1rem;
}

.about-me-left h2 {
  color: #cdd7f7;
}

.about-me-right {
  position: relative;
  display: inline-block;
}

.img-box {
  border: 3px solid #4bc2bc;
  border-radius: 15px;
  position: relative;
  width: 350px;
  height: 350px;
  top: 60px;
  left: 30px;
  background-color: transparent;
}

.click-me {
  position: absolute;
  color: rgb(163, 163, 163);
  bottom: 125px;
  left: 150px;
  width: 90px;
  cursor: pointer;
  z-index: 3;
  text-shadow: 2px 2px 2px #000000;
}

.about-me-right img {
  position: absolute;
  top: 30px;
  left: 0;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  z-index: 2;
}

.img-bw {
  transition: opacity 0.3s ease;
}

.img-bw:hover {
  opacity: 0;
}

.click-me:hover ~ .img-bw {
  opacity: 0 !important;
}

.img-shake {
  animation: imageShake 0.4s forwards ease-in-out;
}

@keyframes imageShake {
  5% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-1 svg:hover,
.social-2 svg:hover,
.social-3 svg:hover {
  transform: scale(0.9);
}

.social-1 {
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 160px;
  z-index: 1;
}

.social-2 {
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 160px;
  z-index: 1;
}

.social-3 {
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 160px;
  z-index: 1;
}

.social-show-1 {
  animation: social-show-1 0.4s ease-out forwards;
}

.social-hide-1 {
  animation: social-hide-1 0.4s ease-in forwards;
}

.social-show-2 {
  animation: social-show-2 0.3s ease-out forwards;
}

.social-hide-2 {
  animation: social-hide-2 0.3s ease-in forwards;
}

.social-show-3 {
  animation: social-show-3 0.2s ease-out forwards;
}

.social-hide-3 {
  animation: social-hide-3 0.2s ease-in forwards;
}

@keyframes social-show-1 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(235px, 145px);
  }
}

@keyframes social-hide-1 {
  from {
    opacity: 1;
    transform: translate(235px, 145px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
  }
}

@keyframes social-show-2 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(220px, 225px);
  }
}

@keyframes social-hide-2 {
  from {
    opacity: 1;
    transform: translate(220px, 225px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
  }
}

@keyframes social-show-3 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(145px, 235px);
  }
}

@keyframes social-hide-3 {
  from {
    opacity: 1;
    transform: translate(145px, 235px);
  }
  to {
    opacity: 0;
    transform: translate(0, 0);
  }
}

.scroll-to-contact {
  position: relative;
  background-color: transparent;
  color: #4bc2bc;
  border: 2px solid #4bc2bc;
  border-radius: 8px;
  padding: 1rem;
  filter: drop-shadow(0 3px 3px #010f23);
  transition: all 0.3s ease;
  cursor: pointer;
  width: fit-content;
  font-family: 'Sometype Mono', monospace;
  z-index: 1;
}

.scroll-to-contact:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
  transform: scale(0.95);
}

.contact-anchor {
  height: 1px;
  display: none;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 4rem;
  height: 80svh;
}

.contact-header {
  position: relative;
  padding: 1rem;
  border: solid 2px #4bc2bc;
  border-radius: 8px;
  color: #4bc2bc;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: 'Sometype Mono', monospace;
  align-self: flex-start;
  background-color: transparent;
  z-index: 1;
  filter: drop-shadow(0 5px 5px #010f23);
}

.contact-header:hover {
  box-shadow: 0 0 10px 0 #4bc2bc;
  background-color: #4bc2bc;
  color: #010f23;
  transform: scale(0.95);
}

@media screen and (max-width: 1190px) {
  .about-me-container {
    gap: 4rem;
  }

  .about-me-content {
    flex-direction: column;
    gap: 2rem;
  }

  .about-me-left {
    font-size: 1.4rem;
    height: fit-content;
    overflow: hidden;
    max-width: 400px;
  }

  .about-me-left-inner {
    overflow: scroll;
  }

  .click-me {
    bottom: 0;
    left: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .personal-wrapper {
    max-width: 850px;
    width: fit-content;
    margin-inline: 2rem;
    align-self: center;
    font-size: 1.2rem;
  }
  .name,
  .job {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .home-page {
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .personal-wrapper {
    top: 0;
    max-width: 600px;
    height: 100svh;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
    margin-inline: 2rem;
  }

  .introduction {
    align-self: flex-start;
    text-align: left;
    font-size: 1.2rem;
  }

  .job {
    font-size: 2.3rem;
    text-align: left;
  }

  .name {
    font-size: 2.3rem;
    align-self: flex-start;
    text-align: left;
  }

  .story {
    max-width: 400px;
    font-size: smaller;
  }

  .more-buttons {
    font-size: small;
    max-width: 400px;
  }

  .about-me-container {
    width: 100%;
    padding-inline: 2rem;
    min-height: 100svh;
    margin-bottom: 8rem;
  }

  .about-me-left {
    max-height: 320px;
    font-size: medium;
  }

  .about-me-headline {
    font-size: 1rem;
  }

  .about-me-h-line {
    width: 35%;
  }

  .about-me-left-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about-me-right {
    margin-bottom: 7rem;
  }

  .img-box {
    height: 250px;
    width: 250px;
    top: 50px;
    left: 40px;
  }

  .about-me-right img {
    height: 250px;
    width: 250px;
    left: 20px;
  }

  .click-me {
    left: 120px;
  }

  @keyframes social-show-1 {
    from {
      opacity: 0;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(60px, 132px);
    }
  }

  @keyframes social-hide-1 {
    from {
      opacity: 1;
      transform: translate(60px, 132px);
    }
    to {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

  @keyframes social-show-2 {
    from {
      opacity: 0;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(-20px, 132px);
    }
  }

  @keyframes social-hide-2 {
    from {
      opacity: 1;
      transform: translate(-20px, 132px);
    }
    to {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

  @keyframes social-show-3 {
    from {
      opacity: 0;
      transform: translate(0, 0);
    }
    to {
      opacity: 1;
      transform: translate(-100px, 135px);
    }
  }

  @keyframes social-hide-3 {
    from {
      opacity: 1;
      transform: translate(-100px, 135px);
    }
    to {
      opacity: 0;
      transform: translate(0, 0);
    }
  }

  .contact-wrapper {
    height: fit-content;
    padding: 0;
    margin-top: 3rem;
  }
}
